body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('bg.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);  
  z-index: 0;
}

.container {
  background: rgba(255, 255, 255, 0.100); 
  backdrop-filter: blur(1200px);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.250);
  text-align: center;
  max-width: 400px;
  z-index: 1;
}


h1 {
  font-size: 28px;
  color: #111;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}

#countdownResult {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  line-height: 1.7;
  text-shadow: 1px 1px 1px #fff;
}

#clockResult {
  font-size: 22px;
  font-weight: bold;
  color: #222;
  line-height: 1.7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* stronger shadow for visibility */
}

